@import '../../styles/settings.scss';

.columnForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 18px;
}

.label {
    margin-right: 6px;
    white-space: nowrap;
}

.input {
    height: 50px;
    padding: 0 12px;
    font-size: 18px;
    min-width: 240px;
    border-radius: $radius;
    margin-left: 6px;
}

.columnForm button {
    margin: 0;
}


@media (max-width: 600px) {
    .columnForm {
        flex-direction: column;
        align-items: stretch;
    }

    .input {
        width: 100%;
        min-width: 0;
    }

    .columnForm button {
        width: 100%;
    }
}