@use "sass:math";
@import '../../styles/settings.scss';


.favorite {
  padding: $base-size * 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  border-radius: $radius;
  font-weight: bold;
  color: $color-dark;


  width: min(440px, 90vw);   
  margin-top: $base-size; 
}

.cards li {
  margin-bottom: $base-size;
}

.cards li:last-child {
  margin-bottom: 0;
}

.empty {
  margin-top: $base-size * 2;
  font-size: 1.5rem;
  color: lighten($color-dark, 40%);
  text-align: center;
}