@import '../../styles/settings.scss';

.nav {
  background: darken($color-dark, 3%);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.logo {
  font-size: 24px; // wymagane w zadaniu
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}